section.contact .contact-me::after{
    content: "";
    display: block;
    clear: both;
}
section.contact .contact-me .left{
    width: 30%;
    float: left;
}
section.contact .contact-me .right{
    float: left;
    width: 65%;
    margin-left: 5%;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}
section.contact .contact-me .left .card{
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}
section.contact .contact-me .left .card .icon i{
    font-size: 2rem;
    margin-right: 15px;
}
section.contact .contact-me .right .form-group{
    margin-bottom: 1.25rem;
}
section.contact .contact-me .right .form-group label{
    display: block;
    margin-bottom: 0.85rem;
}
section.contact .contact-me .right .form-group input{
    padding: 0.624rem;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}
section.contact .contact-me .right .form-group input:focus{
    border: 1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
section.contact .contact-me .right .form-group textarea{
    height: 300px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}
section.contact .contact-me .right .form-group textarea:focus{
    border: 1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
    outline: none;
}
section.contact .contact-me .right button{
    width: 100%;
    padding:  1rem;
    background-color: #f78b00;
    border: none;
    color: white;
}