*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a, a:link, a:visited{
    color:inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width:1140px;
    margin: 0 auto;

}
header{
    position: fixed;
    
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header nav ul{
    display: flex;
}
header nav ul li {
    padding: 10px;
}
header button{
    background: transparent; /* 투명하게 */
    border: 0;
    cursor: pointer; /*갖다대면 클릭포인터로 바뀜 화살표에서 */
}
header h1 button{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
header nav ul li button{
    font-size: 1.2rem;
    color: white;
}

