
p{
    text-align: center;

}
div{
    background-color: #ff9;
    padding: 18px;
    rotate: 10deg;
    width: 400px;
    height: 400px;
}
.main{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 44px;
    margin-bottom: 20px;
}
.sub{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}
