*{
    margin: 0;
}
.flex-container{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
figure{
    width: 160px;
    height: 240px;
    margin-bottom: 10px;
}